/* background color: #232428 */
/* color: #f6b05a */
html {
  height: 100%;
  box-sizing: border-box;
  font-family: monospace;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
.yo-globe {
  height: 100vh;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto 40px;
  grid-template-areas:
    "m m m m m m m m m m m m"
    "c c c c c c c c c c c c"
    "l l l l l l l l l l l l";
}
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  right: 0;
  top: 0;
  color: white;
  background-color: black;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
/* positions the content inside the overlay */
.overlay-content {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 25%;
  /* left: 50%; */
  display: inline-block;
  margin: auto;
  /* drops the links in the overlay 25% from the top */
  text-align: center; /* centers text in overlay */
}
/* The navigation links inside the overlay */
.overlay a {
  padding-bottom: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}
.overlay {
  font-size: 2rem;
}
.exit {
  /* border: solid white; */
  grid-area: m;
  display: inline-flex;
  font-size: 3rem;
  top: 0;
  right: 0;
}
.menu {
  /* border: solid black; */
  grid-area: m;
  display: inline-flex;
  margin-left: auto;
  font-size: 3rem;
  top: 0;
  right: 0;
}
/* ~~~~~~~~~~~~~~ */
/* LINKS */
/* ~~~~~~~~~~~~~~ */
.links {
  /* border: solid black; */
  width: 100vw;
  height: 100%;
  grid-area: l;
  z-index: 0;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
  justify-content: space-between;
}
.links img {
  height: 40px;
  cursor: pointer;
}
/* ~~~~~~~~~~~~~~ */
/* CONTENT */
/* ~~~~~~~~~~~~~~ */
/* .content {
  border: solid black;
  grid-area: c;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: justify;
  padding: 5%;
  background-color: #ececec;
} */
/* ~~~~~~~~~~~~~~ */
.container {
  height: 120px;
  width: 250px;
  box-shadow: -7px -7px 15px rgba(255, 255, 255, 0.65),
    7px 7px 15px rgba(70, 70, 70, 0.12);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
input[type="checkbox"] {
  position: absolute;
  -webkit-appearance: none;
  height: 80px;
  width: 160px;
  box-shadow: -7px -7px 15px rgba(255, 255, 255, 0.65),
    7px 7px 15px rgba(70, 70, 70, 0.12),
    inset -7px -7px 15px rgba(255, 255, 255, 0.65),
    inset 7px 7px 15px rgba(70, 70, 70, 0.12);
  border-radius: 40px;
  border: 5px solid #ececec;
  left: 15px;
  outline: none;
  cursor: pointer;
}
input[type="checkbox"]:before,
input[type="checkbox"]:after {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  transition: 0.3s;
}
input[type="checkbox"]:before {
  height: 50px;
  width: 50px;
  background-color: #ececec;
  box-shadow: -7px -7px 15px rgba(255, 255, 255, 0.65),
    7px 7px 15px rgba(70, 70, 70, 0.12);
  border-radius: 50%;
  left: 15px;
}
input[type="checkbox"]:after {
    height: 15px;
    width: 15px;
    background-color: #7a7a7a;
    border-radius: 50%;
    right: -55px;
}
input[type="checkbox"]:checked:before {
    left: 86px;
}
input[type="checkbox"]:checked:after {
    background-color: #55f696;
}